<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PlushieShop</title>
           <link th:href="@{/css/style.css}" rel="stylesheet" />  
          <script th:src="@{/js/script.js}" th:defer="defer"></script>

    </head>
    <body>

         <!-- Mostrar la informaccion de la entidad producto -->
      <section th:fragment="listadoProductos" id="productos">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <div>
                        <h1>Recomendaciones</h1>
                    </div>
                    <div>
                        <div class="wrapper">
                            <i id="left" class="fa-solid fa-angle-left"></i>
                            <ul class="carousel">
                                <div th:if="${productos != null and !productos.empty}" th:each="producto : ${productos}">
                                    <li class="card">
                                        <div class="img"><img th:src="${producto.rutaImagen}" alt="Imagen del producto"/></div>
                                        <div class="card-body">
                                            <h1 class="card-title" th:text="${producto.nombre}"></h1>
                                            <h2 class="card-text" th:text="'Precio: ' + ${#numbers.formatDecimal(producto.precio, 1, 'DEFAULT', 2, 'DEFAULT')}"></h2>
                                            <span class="categories" th:text="'Categoría: ' + ${producto.categoria.nombre}"></span>
                                            <div>
                                                <button onclick="Toggle2(this)" class="btn"><i class="far fa-heart"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                             <i id="right" class="fa-solid fa-angle-right"></i>
                        </div>


                    </div>
                    <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                        <span>No hay productos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
         
      
         



        

        
    </body>
</html>