<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Escandalosos </title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>

        <script  src="js/script.js" defer></script>
    </head>
    <body>
        <header> 
            <nav>
                <div class="navbar">
                    <i class='bx bx-menu'></i>
                    <div class="logo">
                        <img src="images\Logo.png" alt="Logo">
                        <a href="#">PlushieShop</a>
                    </div>
                    <div class="nav-links">
                        <div class="sidebar-logo">
                            <span class="logo-name">PlushieShop</span>
                            <i class='bx bx-x' ></i>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="#">Animes</a>
                                <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                                <ul class="htmlCss-sub-menu sub-menu">
                                    <li><a href="#">Naruto</a></li>
                                    <li><a href="#">Dragon Ball</a></li>
                                    <li><a href="#">One Piece</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Videojuegos</a>
                                <i class='bx bxs-chevron-down js-arrow arrow '></i>
                                <ul class="js-sub-menu sub-menu">
                                    <li><a href="#">Mario Bros</a></li>
                                    <li><a href="#">Five night at Freddy's</a></li>
                                    <li><a href="#">Plantas vs Zombies</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Osos</a>
                                <i class='bx bxs-chevron-down js-arrow arrow '></i>
                                <ul class="js-sub-menu sub-menu">
                                    <li><a href="#">Polar</a></li>
                                    <li><a href="#">Panda</a></li>
                                    <li><a href="#">Escandalosos</a></li>
                                    <li><a href="#">Otros</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">My Melody</a>
                                <i class='bx bxs-chevron-down js-arrow arrow '></i>
                                <ul class="js-sub-menu sub-menu">
                                    <li><a href="#">My Melody</a></li>
                                    <li><a href="#">Cinnamoroll</a></li>
                                    <li><a href="#">Kuromi</a></li>
                                    <li><a href="#">Pompompuri</a></li>
                                    <li><a href="#">Hello Kitty</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form action="#" class="search-bar">
                            <input type="text" placeholder="Buscar">
                            <button type="submit"><i class='bx bx-search'></i></button>
                        </form>
                    </div>
                    <div class="cart">
                        <img src="images\carrito.png" alt="Carrito">
                    </div>
                </div>
            </nav>
                    <section>
            <article>
                <h1>Escandalosos</h1>
                <div class="wrapper">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <ul class="carousel">
                        <li class="card">
                            <div class="img"><img src="https://m.media-amazon.com/images/I/51qXqA9fI+L._AC_SL1200_.jpg" alt="img" draggable="false"></div>
                            <h2>23.000 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                        <li class="card">
                            <div class="img"><img src="https://centroniks.com/cdn/shop/products/pardo.png?v=1674515050&width=600" alt="img" draggable="false"></div>
                            <h2>18.000 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                        <li class="card">
                            <div class="img"><img src="https://centroniks.com/cdn/shop/products/panda_a5c9763d-f10a-4314-b2ca-584644e5cc7c.png?v=1674515047&width=600" alt="img" draggable="false"></div>
                            <h2>18.500 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                        <li class="card">
                            <div class="img"><img src="https://centroniks.com/cdn/shop/products/polar_deb92e31-c962-4585-8973-d26abb27b4eb.png?v=1674515048&width=600" alt="img" draggable="false"></div>
                            <h2>18.000 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                        <li class="card">
                            <div class="img"><img src="https://f.fcdn.app/imgs/2dc8e8/www.minisouruguay.com.uy/miniuy/ae38/webp/catalogo/694185695101369418569510201/600x600/peluche-redondo-escandalosos-pardo.jpg" alt="img" draggable="false"></div>
                            <h2>15.000 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                        <li class="card">
                            <div class="img"><img src="https://http2.mlstatic.com/D_NQ_NP_767892-MLM46957100138_082021-O.webp" alt="img" draggable="false"></div>
                            <h2>12.000 CRC</h2>
                            <span>Categoría: Escandalosos</span>
                            <div> <Button onclick="Toggle2(this)" id="btnh2_1" class="btn"><i class="far fa-heart"></i></Button></div>
                        </li>
                    </ul>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                </div>
            </article>
        </section>
    </body>
</html>